<!-- add-groceries.html -->

<body>
    
    <form class='container'>
        <div class="form-group">
            <label for="exampleFormControlInput1">Grocery Item</label>
            <input type="email" class="form-control" id="groceryitem"  >
        </div>
        <div class="form-group">
            <label for="groceryitem">Units</label>
            <select class="form-control" id="groceryitem">
                <option>Percentage</option>
                <option>Measurement</option>
            </select>
        </div>
        <div class="form-group">
            <label for="groceryitem">Amount</label>
            <input class="form-control" id="groceryitem">
        </div>
        <div class="form-group">
            <label for="groceryitem">Cost</label>
            <input class="form-control" id="groceryitem">
        </div>
        
        <button type="button" class="btn btn-primary" on-click=''>Add Item</button>
    </form>
    
</body>
