<body>
	<form class="container" name='meal-form'>
<!--        Ingredient 1 and Price:<br>-->
<!--            <input type="text" ng-model="ingr1" class="form-control" style="width:500px;">  $<input type="number" step="0.05" ng-model="price1" style="width:100px;"><br><br>-->
<!--        Ingredient 2 and Price:<br> -->
<!--            <input type="text" ng-model="ingr2" class="form-control" style="width:500px;">  $<input type="number" step="0.05" ng-model="price2" style="width:100px;"><br><br>-->
<!--        Ingredient 3 and Price:<br>-->
<!--            <input type="text" ng-model="ingr3" class="form-control" style="width:500px;">  $<input type="number" step="0.05" ng-model="price3" style="width:100px;"><br><br>-->
<!--        Ingredient 4 and Price:<br>-->
<!--            <input type="text" ng-model="ingr4" class="form-control" style="width:500px;">  $<input type="number" step="0.05" ng-model="price4" style="width:100px;"><br><br>-->

        Meal and Cost:<br>
            <input type="text" ng-model="mealname" class="form-control" style="width:500px;">
            $<input type="number" step="0.01" ng-model="mealcost" style="width:100px;">
            <input type="date" ng-model="mealdate"><br><br>


		<input type="submit" ng-model='submitButton' class="btn btn-success" value="Add Another Meal" ng-click='addAnother()'>
        <a href='/dashboard'><input type="submit" ng-model='submitButton' class="btn btn-success" value="Add Meal and Finish" ng-click='addMeal()'></a>
	</form>
</body>
