
<!-- dashboard.html -->

<body>

    <script type='text/javascript' src='lib/myscript.js'></script>


    <div class='container'>
        
        Total Meal Cost: ${{ tcost }}
        Meals Logged: {{ nummeals }}
        Average Meal Cost: ${{ acost }}

        <button type="button" class="btn btn-primary" onclick='location.href="/addmeal"'>Add Meal</button>
        <button type="button" class="btn btn-primary" onclick='location.href="/add-groceries"'>Add Groceries</button>
        
    </div><br>
    
    <div class='container'>
        Inventory
        
        
        
        Meal Log
    </div>
    
</body>
